<!-- device container -->
<div class="container-fluid container-device-details">
	<div class="row">
		<div class="col-lg-2 container-device-image" style="background-image: url('/images/{{deviceCtrl.vm.device.type.name}}.png');"></div>
		<div class="col-lg-9 col-lg-offset-1">
			<div class="row">
				<label class="col-lg-4 lead">Name</label>
				<div class="col-lg-8">
					<input type="text" class="form-control" placeholder="Enter new device name" ng-model="deviceCtrl.vm.device.name" ng-change="deviceCtrl.vm.deviceRepository.update(deviceCtrl.vm.device)">
				</div>
			</div>
			<div class="row">
				<label class="col-lg-4 lead">Type</label>
				<label class="col-lg-8 lead">{{deviceCtrl.vm.device.type.name}}</label>
			</div>
			<div class="row">
				<label class="col-lg-4 lead">State</label>
				<button type="button" class="col-lg-2 col-lg-offset-1 btn btn-default" ng-class="{active:deviceCtrl.vm.device.isOn}" ng-click="deviceCtrl.vm.onDevice()">ON</button>
				<button type="button" class="col-lg-2 col-lg-offset-2 btn btn-default" ng-class="{active:!deviceCtrl.vm.device.isOn}" ng-click="deviceCtrl.vm.offDevice()">OFF</button>
			</div>
			<div class="row" ng-show="deviceCtrl.vm.deviceService.hasValue(deviceCtrl.vm.device)">
				<label class="col-lg-4 lead">Value</label>
				<span class="col-lg-2 lead">{{deviceCtrl.vm.device.value}}{{deviceCtrl.vm.device.type.symbol}}</span>
				<div class="col-lg-6 range-device" ng-show="deviceCtrl.vm.deviceService.canChangeValue(deviceCtrl.vm.device)">
					<input type="range" class="form-control" min="{{deviceCtrl.vm.device.type.minValue}}" max="{{deviceCtrl.vm.device.type.maxValue}}" step="1" ng-model="deviceCtrl.vm.device.value" ng-change="deviceCtrl.vm.deviceRepository.setValue(deviceCtrl.vm.device, deviceCtrl.vm.device.value)">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<!-- trigger list container -->
		<div class="container-fluid container-trigger-list">
			<div class="row">
				<h4>Trigger list</h4>
			</div>
			<div class="row" ng-repeat="trigger in deviceCtrl.vm.device.triggers">
				<!-- trigger container -->
				<div class="container-fluid container-trigger">
					<form class="form-inline" role="form">
					  <div class="form-group">
					  	<label class="sr-only" for="name">Name</label>
					    <input type="text" class="form-control" name="name" placeholder="Enter name" ng-model="trigger.name">
					  </div>
					  <div class="form-group" ng-if="deviceCtrl.vm.isDevice()">
					    <label class="sr-only" for="sensor">Sensor</label>
					    <select name="sensor" class="form-control" ng-model="trigger.sensor._id">
					    	<option ng-repeat="sensor in deviceCtrl.vm.triggerDevices" value="{{sensor._id}}" ng-selected="sensor._id == trigger.Sensor._id">{{sensor.name}}</option>
					    </select>
					  </div>
					  <div class="form-group" ng-if="!deviceCtrl.vm.isDevice()">
					  	<label class="sr-only" for="sensor">Device</label>
					    <select name="device" class="form-control" ng-model="trigger.device._id">
					    	<option ng-repeat="device in deviceCtrl.vm.triggerDevices" value="{{device._id}}" ng-selected="device._id == trigger.Device._id">{{device.name}}</option>
					    </select>
					  </div>
					  <div class="form-group">
					  	<label class="sr-only" for="conditionValue">Condition</label>
					    <input type="text" class="form-control text-right value-input" name="condition" placeholder="condition" ng-model="trigger.condition">
					  </div>
					  <div class="form-group">
					  	<label class="sr-only" for="action">Action</label>
					    <select name="action" class="form-control" ng-model="trigger.action._id">
					    	<option ng-repeat="action in deviceCtrl.vm.actions" value="{{action._id}}" ng-selected="action._id == trigger.Action._id">{{action.name}}</option>
					    </select>
					  </div>
					  <div class="form-group" ng-show="deviceCtrl.vm.canTriggerSetValue(trigger.action._id)">
					  	<label class="sr-only" for="deviceValue">Device value</label>
					    <input type="text" class="form-control text-right value-input" name="deviceValue" placeholder="deviceValue" ng-model="trigger.value">
					  </div>
					  <button type="button" class="btn btn-success" ng-click="deviceCtrl.vm.triggerService.update(trigger)">Save</button>
					  <button type="button" class="btn btn-warning" ng-click="deviceCtrl.vm.resetTrigger(trigger)">Revert</button>
					  <button type="button" class="btn btn-danger" ng-click="deviceCtrl.vm.deleteTrigger(trigger)">Delete</button>
					</form>
				</div> <!-- end trigger -->
			</div>
			<div class="row">
				<!-- new trigger container -->
				<div class="container-fluid container-trigger">
					<form name="addTrigger" class="form-inline" role="form" ng-submit="addTrigger.$invalid || deviceCtrl.vm.addTrigger()" novalidate>
					  <div class="form-group">
					  	<label class="sr-only" for="name">Name</label>
					    <input type="text" class="form-control" name="name" placeholder="Enter name" ng-model="deviceCtrl.vm.newTrigger.name" required>
					  </div>
					  <div class="form-group" ng-if="deviceCtrl.vm.isDevice()">
					    <label class="sr-only" for="sensor">Sensor</label>
					    <select name="sensor" class="form-control" ng-model="deviceCtrl.vm.newTrigger.sensor._id">
					    	<option ng-repeat="sensor in deviceCtrl.vm.triggerDevices" value="{{sensor._id}}">{{sensor.name}}</option>
					    </select>
					  </div>
					  <div class="form-group" ng-if="!deviceCtrl.vm.isDevice()">
					    <label class="sr-only" for="device">Device</label>
					    <select name="device" class="form-control" ng-model="deviceCtrl.vm.newTrigger.device._id">
					    	<option ng-repeat="device in deviceCtrl.vm.triggerDevices" value="{{device._id}}">{{device.name}}</option>
					    </select>
					  </div>
					  <div class="form-group">
					  	<label class="sr-only" for="conditionValue">Condition</label>
					    <input type="text" class="form-control text-right value-input" name="condition" placeholder="Enter condition" ng-model="deviceCtrl.vm.newTrigger.condition" required>
					  </div>
					  <div class="form-group">
					  	<label class="sr-only" for="action">Action</label>
					    <select name="action" class="form-control" ng-model="deviceCtrl.vm.newTrigger.action._id" required>
					    	<option ng-repeat="action in deviceCtrl.vm.actions" value="{{action._id}}">{{action.name}}</option>
					    </select>
					  </div>
					  <div class="form-group" ng-show="deviceCtrl.vm.canTriggerSetValue(deviceCtrl.vm.newTrigger.action._id)">
					  	<label class="sr-only" for="deviceValue">Device value</label>
					    <input type="text" class="form-control text-right value-input" name="deviceValue" placeholder="deviceValue" ng-model="deviceCtrl.vm.newTrigger.value">
					  </div>
					  <button type="submit" class="btn btn-success">Create</button>
					  <button type="button" class="btn btn-warning" ng-click="deviceCtrl.vm.cancelAddTrigger()">Clear</button>
					</form>
					</div> <!-- end new trigger -->
			</div>
		</div> <!-- end trigger list -->
	</div>
</div>
