<!-- fast access container -->
<div class="container-fluid container-fast-access" ng-controller="fastAccessController as fastAccess">
	<div class="row">
		<div class="col-lg-3" ng-repeat="device in fastAccess.vm.fastAccessDevices()">
			<!-- device container -->
			<div class="container-fluid container-device">
				<div class="row">
					<div class="col-lg-7 container-device-info">
						<div class="row">
							<div class="col-lg-12 container-device-image" style="background-image: url('/images/{{device.Type.Name}}.png');"></div>
						</div>
						<div class="row">
							<span class="center-block text-center" ng-show="fastAccess.vm.deviceService.hasValue(device)">{{device.Value}}</span>
						</div>
					</div>
					<div class="col-lg-3 switch-device">
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-checked="{{device.IsOn}}" ng-model="device.IsOn">
								On
							</label>
						</div>
					</div>
					<div class="col-lg-2 delete-device">
						<button type="button" class="btn btn-default btn-xs" ng-click="fastAccess.vm.remove(device)"></button>
					</div>
				</div>
				<div class="row" ng-show="fastAccess.vm.deviceService.canChangeValue(device)">
					<div class="col-lg-10 col-lg-offset-1 input-group range-device">
						<input type="range" class="form-control" value="{{device.Value}}" min="0" max="100" step="1" ng-model="device.Value">
					</div>
				</div>
			</div> <!-- end device -->
		</div>
		<div class="col-lg-3" ng-show="fastAccess.vm.canAdd()">
			<div class="col-lg-6 col-lg-offset-3 btn-quick-access">
				<!-- add new device -->
				<div class="dropdown">
				  <button class="btn btn-default btn-block dropdown-toggle" type="button" id="fastAccessAddDropdown" data-toggle="dropdown">+</button>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="fastAccessAddDropdown">
				    <li role="presentation" ng-repeat="device in fastAccess.vm.otherDevices()"><a role="menuitem" href="#" ng-click="fastAccess.vm.add(device)">{{device.Name}}</a></li>
				  </ul>
				</div> <!-- end add new -->
			</div>
		</div>
	</div>
</div> <!-- end fast access -->

<!-- home container -->
<div class="container-fluid container-home">
	<div class="row">
		<!-- room container -->
		<div class="col-lg-8 container-fluid container-room" ng-controller="roomController as room">
			<div class="row">
				<div class="col-lg-5">
					<!-- room temperature controller -->
					<div class="container-fluid container-device">
						<div class="row">
							<div class="col-lg-6 container-device-info">
								<div class="row">
									<div class="col-lg-12 container-device-image temperature"></div>
								</div>
								<div class="row">
									<span class="col-lg-6 center-block text-center">{{(room.vm.getTemperatureSensorsValue() | number:0) || '-'}}</span>
									<span class="col-lg-6 center-block text-center">{{(room.vm.getTemperatureDevicesValue() | number:0) || '-'}}</span>
								</div>
							</div>
							<div class="col-lg-4 switch-device">
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-checked="{{room.vm.temperatureDevicesIsOn()}}" ng-model="room.vm.temperatureIsOn" ng-change="room.vm.temperatureDevicesToggle()">
										On
									</label>
								</div>
							</div>
						</div>
						<div class="row" ng-show="room.vm.hasTemperatureDevices()">
							<div class="col-lg-10 col-lg-offset-1 input-group range-device">
								<input type="range" class="form-control" min="0" max="100" step="1" ng-change="room.vm.setTemperatureDevicesValue()" ng-model="room.vm.temperatureRangeValue">
							</div>
						</div>
					</div> <!-- end room temperature controller -->
				</div>
				<div class="col-lg-5">
					<!-- room temperature controller -->
					<div class="container-fluid container-device">
						<div class="row">
							<div class="col-lg-6 container-device-info">
								<div class="row">
									<div class="col-lg-12 container-device-image brightness"></div>
								</div>
								<div class="row">
									<span class="col-lg-6 center-block text-center">{{(room.vm.getBrightnessSensorsValue() | number:0) || '-'}}</span>
									<span class="col-lg-6 center-block text-center">{{(room.vm.getBrightnessDevicesValue() | number:0) || '-'}}</span>
								</div>
							</div>
							<div class="col-lg-4 switch-device">
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-checked="{{room.vm.brightnessDevicesIsOn()}}" ng-model="room.vm.brightnessIsOn" ng-change="room.vm.brightnessDevicesToggle()">
										On
									</label>
								</div>
							</div>
						</div>
						<div class="row" ng-show="room.vm.hasBrightnessDevices()">
							<div class="col-lg-10 col-lg-offset-1 input-group range-device">
								<input type="range" class="form-control" min="0" max="100" step="1" ng-model="room.vm.brightnessRangeValue" ng-change="room.vm.setBrightnessDevicesValue()">
							</div>
						</div>
					</div> <!-- end room temperature controller -->
				</div>
				<a role="button" class="col-lg-2 btn btn-info" href="#/room/{{room.vm.room.ID}}">Go to room</a>
			</div>
			<div class="row">
				<!-- device process container -->
				<div class="row container-device-process" ng-repeat="device in room.vm.room.devices" ng-if="device.NeedTimeControl && device.IsOn">
					<div class="col-lg-1 col-lg-offset-1 container-device-image" style="background-image: url('/images/{{device.Type.Name}}.png');"></div>
					<div class="col-lg-6 col-lg-offset-1 lead device-process-timer"><timer device="device"></timer></div>
					<button type="button" class="col-lg-2 btn btn-danger device-process-btn" ng-click="room.vm.deviceService.off(device)">off</button>
				</div> <!-- end device process -->
			</div>
		</div> <!-- end room -->
		<!-- room container -->
		<div class="col-lg-4 container-fluid container-room">
			<div class="row">
			
			</div>
		</div> <!-- end room -->
	</div>
	<div class="row">
		<!-- room container -->
		<div class="col-lg-5 container-fluid container-room">
			<div class="row">

			</div>
		</div> <!-- end room -->
		<!-- room container -->
		<div class="col-lg-7 container-fluid container-room">
			<div class="row">

			</div>
		</div> <!-- end room -->
	</div>
</div> <!-- end home -->

